<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>完整-图谱检索</title>
    <link rel="stylesheet" href="/static/css/full_graph.css">
</head>
<body>
    <div class="page-container">
        <div class="container">
            <!-- 左侧输入区域 -->
            <div class="left-column">
                <button id="searchButton" class="search-button">完整图谱检索</button>
            </div>

            <!-- 右侧展示结果区域 -->
            <div class="right-column">
                <!-- 用于显示图谱的容器 -->
                <div id="graphContent"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="/static/js/extra/jquery-3.2.1.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="/static/js/add/full_graph.js"></script>
</body>
</html>
