<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎页面</title>
    <link rel="stylesheet" href="/static/css/welcome.css">
</head>
<body>
    <div class="welcome-container">
        <h2>欢迎来到面向情报领域的大模型时序推理系统</h2>
        <div class="image-div">
            <img src="/static/images/技术路线.png" alt="欢迎图片" class="welcome-image">
        </div>
        <a href="/main_layout/">
        <button class="enter-button">进入系统</button>
        </a>
    </div>

    <script src="/static/js/add/welcome.js"></script>
</body>
</html>
